# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# ROS 2
build/
install/
log/

# VS Code
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Temp files
*.swp
*.bak
*.tmp
